{% extends "base.html" %}

{% block content %}
<style>
    .message-note,.message-json{display: none;}
    .message-id{color:blue;text-decoration: underline;}
    .message-id:hover{cursor: pointer;}
    .status-id{text-decoration: underline;}
    .status-id:hover{cursor: pointer;}
</style>

<h3>All OA Messages</h3>
<ul>
    {% for item in messages  %}
    <li><span class="message-id" id="message-{{item.message_id}}">{{item.message_id}}</span> {{item.message_title}} // saved on: {{item.attempted}} || 
        {%if item.status == 'ready'%}
        <span class="status-id" id="status-{{item.message_id}}" style="color:green;">{{item.status}}</span>
        {%endif%}
        {%if item.status == 'error'%}
        <span class="status-id" id="status-{{item.message_id}}" style="color:red;">{{item.status}}</span>
        {%endif%}
        {%if item.status == 'duplicate'%}
        <span class="status-id" id="status-{{item.message_id}}" style="color:orange;">{{item.status}}</span>
        {%endif%}
    </li>
        
    <div class="message-json" id="json-{{item.message_id}}">{{item.message_json}}</div>
    <div class="message-note" id="note-{{item.message_id}}">{{item.note}}</div>
    {% endfor %}
</ul>

<script type="text/javascript">
    
    $(document).ready(function(){

        $('.message-json pre').each(function(){//let's figure out how to make this pretty later.
            // this.innerHTML = JSON.stringify(JSON.parse(this.innerHTML),null,2);
            this.innerHTML =JSON.stringify(this.innerHTML, null, 2);
            // x = JSON.parse(this.innerHTML);
            // console.log(x);
            // console.log(this.innerHTML);
        });
        $(".message-id").click(function(){
            // console.log(this.id);
            mess_id = this.id.split('-')[1];
            $('#json-'+mess_id).toggle();
        });
        $(".status-id").click(function(){
            console.log(this.id);
            mess_id = this.id.split('-')[1];
            $('#note-'+mess_id).toggle();
        });
        for (var i = $(".message-json").length - 1; i >= 0; i--) {
            jsonstr = $($(".message-json")[i]).text();
            jsonstr = JSON.stringify(JSON.parse(jsonstr), null, 2);
            $(".message-json")[i].innerHTML="<pre>"+jsonstr+"</pre>";
        }
});

</script>
{%endblock%}