<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <h1><center>OA->FS</center></h1>
    <title>{% block title %}OAFS transfer interface{% endblock %}</title>
{% load static %}
<script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>

        {% block content %}
        {% endblock %}

</body>
</html>


